*{
    margin: 0;
}
#superparent{
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#parent{
    display: flex;
    background: white;
    width: 270px;
    height: 400px;
    /* justify-content: center; */
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
}

img{
    margin: 16px;
    background: skyblue;
    width: 230px;
    height: 230px;
    border-radius: 12px;
}

#firstPara{
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
}

#secondPara{
    text-align: center;
    font-size: 14px;
    color: hsl(220, 15%, 55%);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    font-weight: 400;
}